@import "tailwindcss";

/* 1. The Orange Brand Color */
.bg-brand {
  background-color: #F97316;
}
.bg-brand:hover {
  background-color: #EA580C;
}
.text-brand {
  color: #F97316;
}
.border-brand {
  border-color: #F97316;
}

/* 2. The Dark Text Color */
.text-dark {
  color: #1F2937;
}
.text-dark-lighter {
  color: #4B5563;
}
.bg-dark {
  background-color: #1F2937;
}

/* 3. The Light Background Color */
.bg-surface-soft {
  background-color: #FFF7ED;
}

.cover-image{
  object-fit: cover;
  width: 100%;
  height: 350px;
}